*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif; 
}
#home{
    background-color:#FFFFFF;
}
#header{
    height: 12%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
}
.logo{
    width: 10%;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: center;
    padding-right: 10%;
    
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 80px; 
    margin-right: 10px;
    
    
}
nav ul li a{
    text-decoration:none;
    color:#FF0000;
       
}
    
.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}
footer{
    background-color: #FF0000;
    height:240px;
}
.footerContainer{
    flex: 1;
    text-align: center;
    padding-right: 10%;
}
.footerNav{
    margin: 2px 0;
}
.footerNav ul li{
    display: flex;
    justify-content: center;
    list-style: none;
    display: inline-block;
    margin-right:17%; 
    margin:10px;
    margin-left: 17%;
    padding-right: 5px;
    
    
}
.footerNav ul li a{
    color: #FFFFFF;
    list-style: none;
    text-decoration: none;
    font-size: 1.3em;
    
    
}.footerBottom{
    padding: 30px;
    text-align: center;  
}
.footerBottom p{
    color:#FFFFFF;
  
    
}
body{
    background-color: #FF7F7F;
}
.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 25px;
    position: fixed;
}
.heading h1{
    content: "";
    position: absolute;
    width: 80%;
    height: 4px;
    display: block;
    margin: 0 auto;
}

#container{
    width: 90%;
    margin: auto;
    padding: 100px 20px;  
}

img{
    width: 40%;  
    margin-right: auto;
    float: left;
    display: flex;
    margin: 35px;
    
}

p{
    color: #FFFFFF;
    line-height: 2.5;
    text-align: center;
    padding: 5px;
    margin:15px 0px;   
}
background-color{
     background-color: #FF7F7F;
    
}

h2{
    text-align: center;
    color: #FFFFFF;
    padding: 3px;
    margin-bottom: 40px;       
}
.container{
    width:90%;
    max-width: 600px;
    max-height: 500%;
    margin:50px auto;
    padding:65px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
      
}
.container h1{
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
}
form input,
form textarea{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding:10px;
    border: none;
    border-radius: 5px;
    
}
form input:focus,
form textarea:focus{
    outline: none;
    box-shadow: 0 0 5px;
    
}
form button{
    display: block;
    width: 100%;
    padding:10px;
    border:none;
    border-radius: 5px;
    background-color:#FF0000;
    cursor: pointer;
    transition: 0.3s ease;
    
}
form button:hover{
    background-color: #555;
}

   
    




.container{
    text-align: center;
    color: #FFFFFF;
}
.heading{
    margin-bottom: 100px;
}
.single1-img p{
    font-size: 20px;
    font-style: italic;
}